@import 'variables';

footer {
    background-color: $dark;
    .footer-about {
        p {
            color: white;
        }
    }
    .footer-logo {
        padding: 20px 0;
        a {
            margin: 0a auto;
            img {
                width: 100px;
            }
        }
    }
    h4 {
        color: white;
        margin-bottom: 20px;
    }
    ul {
        padding-left: 0px;
        list-style: none;
        li {
            color: white;
        }
        a {
            color: white;
            text-decoration: none;
            padding: none;
            font-size: 14px;
            i {
                padding-right: 10px;
            }
        }
        a:hover , {
            color: $primary ;
            text-decoration: none;
            
        }
        
    }
    #contact-us {
        input[type="email"] ,input[type="text"] {
             height: 40px;
             border: 1px solid white;
             border-radius: 50px;
             padding-left: 17px;
             font-size: 14px;
            background-color: $dark;
            margin-bottom: 5px;
            
        }
        textarea {
//            height: 40px;
             border: 1px solid white;
             border-radius: 50px;
             padding-left: 17px;
             font-size: 14px;
            background-color: $dark;
            margin-bottom: 5px;
        }
    }
//    .footer-nav {
//        a {
//            color: white;
//        }
//        a:hover {
//            color: $primary;
//        }
//    }
//    .social {
//        ul {
//            list-style: none;
//            padding-left: 0px;
//            li {
//                display: inline-block;
//                color: #ccc;
//                i{
//                    font-size: 20px;
//                    padding: 0 10px;
//                }
//            }
//            li:hover {
//                i {
//                    color: $primary;
//                }
//            }
//        }
//    }
    .cpy-right{
        color: rgba(230, 230, 230, 0.6);
        border-top: 1px solid rgba(230, 230, 230, 0.1);
        text-align: center;
        p {
            padding-top: 15px;
        }
    }
}