@import 'variables';

//btn custome
.btn {
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
//    font-weight: 600;
}
*:hover{
    transition: 0.3s;
}
button.search-btn {
    padding: 7px 20px;
    margin-left: 10px;
    font-weight: 800;
    text-transform: uppercase;
}
button.btn-primary {
    padding: 7px 20px;
    margin-left: 10px;
    font-weight: 800;
    text-transform: uppercase;
}
.search {
    border: none;
    border-radius: 50px;
    width: 300px;
  
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 7px 10px;
    font-size: 0.9rem;
    line-height: 1.6;
}

//pages search 
.pgs-search {
    border: 1px solid #ccc;
}
h1 {
    font-size: 40px;
    color: white;
    font-weight: 600;
}
