
@import 'variables';

nav.navbar {
  margin-bottom: 0px;
  border: none;

  
}
#logged-navbar {
  a.nav-link , a.navbar-brand {
    color: white;
  }
  
}


#unlogged-navbar {
  a.nav-link {
    color: white;
    }
  .navbar-brand img {
    width: 100px;
    margin-left: 40px;
    margin-top: 10px;
  }
  
    ul {
      margin-right: 60px;
      li {
        padding:  0 5px;
          font-weight: 600;
          font-size: 13px;
      }
      li > a:hover {
        color: $primary;
      }
      .btn {
        margin-top: 0;
      }
    
  }

}
span#user-profile {
    height: 45px;
    width: 45px; 
    display: block; 
    border-radius: 50px;
    margin-right: 5px;
    background-size: cover;
    }
    
@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
}
}

  .homepage #unlogged-navbar{
    background-color: red;
  }