@import 'variables';
.nav-tabs {
    a {
        font-weight: 600;
        font-size: 16px;
    }
}

.requests {
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.16);
    .ticket-details{
        
        background-color: $dark;
        color: white;
        box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.16);
        .ticket-img {
            height: 100px;
            width: 200px;
            
        }
        
    }
    .ticket-qty-num {
            margin-left: 30px;
            display: block;
            width: 20px;
            height: 20px;
            background-color: $info;
            border-radius: 50px;
            text-align: center;
            span {
                margin: 0 auto;
                font-size: 12px;
                font-weight: 600;
                }
        }
        .ticket-edit {
            a.btn {
                margin: 0 auto;
            }
        }
    .user-img {
        margin: 0 auto;
        width: 60px;
        height: 60px;
        background-color: $primary;
        border-radius: 100px;
        background-size: cover;
    }
    .acceptance-btns {
        margin: 0 auto;
    }
    
    .buyers-list > div:nth-child(even) {
        background-color: white;
    }
}


