
// Body
// $body-bg: black;


//colors 

$primary:       #fbca03;
$light:         #ffffff;
$dark:          #303233 ;
// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$heading-font:  'Scada', sans-serif;
$text-font: 'Source Sans Pro', sans-serif;
