
// Body
// $body-bg: black;


//colors 
//$primary-color-dark:   #00796B
//$primary-color:        #009688
//$primary-color-light:  #B2DFDB
//$primary-color-text:   #FFFFFF
//$accent-color:         #FFC107
//$primary-text-color:   #212121
//$secondary-text-color: #757575
//$divider-color:        #BDBDBD


$primary:       #FFC107;
$light:         #B2DFDB;
$dark:          #00796B ;
// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$heading-font:  'Scada', sans-serif;
$text-font: 'Source Sans Pro', sans-serif;
